.main-container {
  background: #f1f1f1;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.main-container .container {
  margin-top: 80px;
  margin-bottom: 80px;
}
